/* ==================================================
  Base
================================================== */

:root {
  --color-brown: #78471C;
  --color-white: #fff;
  --color-gray: #575757;
  --color-blue: #234579;
  --color-light-blue: #B4DFED;
  --color-orange: #F4A45C;
  --color-yellow: #FFE55F;
  --color-green: #B5D681;
  --color-beige: #FFF1CB;
  --color-light-gray: #F3F3F3;
  --color-light-orange: #F7EFE8;
  --color-light-yellow: #FFFCEA;
  --round-corner: 9999px;
  --font-en: "Montserrat";
  --font-ja: "Zen Kaku Gothic Antique";
  --border-brown: 1px solid var(--color-brown);
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  font-family: var(--font-en), var(--font-ja), sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 16px;
  background: var(--color-white);
}


/* ==================================================
  Header
================================================== */

header {
  font-family: var(--font-en);
  letter-spacing: 0.04em;
  position: fixed;
  border-radius: var(--round-corner);
  background: var(--color-white);
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header-nav {
  border: 1px solid var(--color-brown);
  border-radius: var(--round-corner);
  padding: 12px 14px;
}

.header-nav__list {
  display: flex;
  gap: 8px;
}

.header-nav__item {
  display: block;
  text-decoration: none;
  color: var(--color-brown);
  font-size: 15px;
  padding: 12px 22px;
  border-radius: var(--round-corner);
  transition: 0.5s;
}

.header-nav__item:not(.active):not(.is-disabled):hover {
  background: var(--color-light-orange);
}

.header-nav__item.active {
  background: var(--color-brown);
  color: var(--color-white);
}

.header-nav__item.is-disabled {
  opacity: 0.5;
}


/* ==================================================
  Footer
================================================== */

footer {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  display: grid;
  place-items: center;
  color: var(--color-brown);
  letter-spacing: 0.04em;

  background-color: var(--color-blue);
  background-image:
    url("../images/footer_bg.svg"),
    url("../images/fv_bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home footer {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

footer img {
  width: 90%;
  margin: 0 auto;
}

.footer-info {
  position: absolute;
  bottom: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.footer-info__nav-list {
  display: flex;
  gap: 36px;
}

.footer-info__nav-item {
  text-decoration: none;
  color: var(--color-brown);
  transition: 0.3s;
}

.footer-info__nav-item:not(.is-disabled):hover {
  color: var(--color-orange);
}

.footer-info__nav-item.is-disabled {
  opacity: 0.5;
}


.footer-info__copyright {
  margin-top: 28px;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray);
}



/* ==================================================
  Button
================================================== */

.main-button {
  padding: 16px 16px 16px 26px;
  border: var(--border-brown);
  border-radius: var(--round-corner);
  background: var(--color-white);
  color: var(--color-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  width: fit-content;
}

.main-button-arrow {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--color-brown);
  color: var(--color-white);
  display: grid;
  place-items: center;

  transition: transform 0.4s ease;
}

.main-button:hover .main-button-arrow {
  transform: scale(1.2);
}

.main-button-small {
  font-size: 15px;
  color: var(--color-white);
  background: var(--color-brown);
  padding: 12px 12px 12px 22px;
}

.main-button-small .main-button-arrow {
  background: var(--color-white);
  color: var(--color-brown);
}



/* ==================================================
  Works Cards
================================================== */

.works__card-title {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  color: var(--color-gray);
}

.works__card-small .works__card-title {
  font-size: 16px;
  margin: 0 0 20px 0;
  line-height: 1.6;
}


.works__card-visual {
  border: var(--border-brown);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 420 / 236;
  justify-items: center;
}

.works__card-visual {
  max-width: 420px;
}


.works__card-visual img {
  width: 100%;
  object-fit: cover;
}

.works__card-description {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brown);
}

.works__card-small .works__card-description {
  margin-top: 20px;
}

.works__card-work-type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border: var(--border-brown);
  border-radius: var(--round-corner);
  background: var(--color-light-orange);
  font-size: 13px;
  margin-right: 12px;
  color: var(--color-brown);
}

.works__card-design-type {
  font-size: 14px;
  color: var(--color-brown);
}

.works__card-button {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-brown);
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
  color: var(--color-brown);
}

.works__card:hover {
  background: var(--color-light-orange);
}

.works__card:hover .works__card-work-type {
  background: var(--color-white);
}

.works__card:hover .works__card-button {
  background: var(--color-brown);
  color: var(--color-white);
}

.works__card.is-hidden {
  display: none;
}


/* ==================================================
  Sub-page FV
================================================== */

.sub-page__fv {
  height: 432px;
  padding-top: 190px;
  text-align: center;
  color: var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
}

.sub-page__fv-works {
  background: url("../images/works_fv.jpg") center / cover no-repeat;
}

.sub-page__fv-profile {
  background: url("../images/profile_fv.jpg") center / cover no-repeat;
}

.sub-page__fv-eyebrow {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .04em;

  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.sub-page__fv h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 0;
  -webkit-text-stroke: 2.5px var(--color-brown);
  paint-order: stroke fill;
}

.sub-page__fv-title-works {
  color: var(--color-green);
}

.sub-page__fv-title-profile {
  color: var(--color-orange);
}



/* ==================================================
  Responsive
================================================== */

@media screen and (max-width: 1024px) {


   .works__card-visual {
    width: 100%;
  }

  footer img {
    width: 60%;
  }

  .footer-info__nav-list {
    gap: 20px;
  }

  .footer-info__nav-item {
    font-size: 15px;
}
}


@media screen and (max-width: 767px) {

  /* Base
  -------------------------------------------------- */




  /* Header
  -------------------------------------------------- */

  header {
    top: 16px;
}

  .header-nav {
    padding: 8px 8px;
  }

  .header-nav__list {
    gap: 2px;
  }

  .header-nav__item {
    font-size: 13px;
    padding: 10px 12px;
  }



  /* Footer
  -------------------------------------------------- */

  footer {
    background-image:
      url("../images/footer_bg_sp.svg"),
      url("../images/fv_bg_sp.png");
    background-size: 100% 100%;

  }

  footer img {
    width: 75%;
    margin-bottom: 24px;
  }

  .footer-info {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
  }

  .footer-info__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .footer-info__copyright {
    font-size: 11px;
    margin-top: 20px;
  }



  /* Button
  -------------------------------------------------- */




  /* Works Cards
  -------------------------------------------------- */


  .works__card-small {
    padding: 20px 20px;
  }





  /* Sub-page FV
  -------------------------------------------------- */

  .sub-page__fv h1 {
    font-size: 52px;
  }



}